
/* ========================================================================
   Color Vars
   ========================================================================== */

   $gun-metal : #292e37;
   $bloodRed : red;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4; 
}
body{
  font-family: 'copperplate';
  a{
    text-decoration: none;
  }
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.center{
  text-align: center;
}
.block{
  display: block;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
  max-width: 600px;
  margin: 10px auto;
  position: relative;
}
table{
  display: inline-block;
  td{
    padding: 5px 10px;
    text-align: left;
    border-bottom: 4px solid $gun-metal;
  }
}
input[name="ammo_added"]{
  width: 50px;
}
.link-wrapper{
  margin-top: 30px;
  text-align: center;
  .weapons-cache-link{
    font-size: 22px;
    &:hover{
      text-decoration: underline;
    }
  }
}

